<head>
  <!--Basic Page Needs-->
	<title>Homepage</title>
	<meta charset="UTF-8">
	<meta name="description" content="AuCreative theme tempalte">
	<meta name="author" content="AuCreative">
	<meta name="keywords" content="AuCreative theme template">
	<!--Mobile Specific Metas-->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" type="image/png" href="images/icons/home-boxed-logo.png"/>

  <link rel="stylesheet" type="text/css" href="/dist/vendor/css/vendor.min.css">
  <link rel="stylesheet" type="text/css" href="/dist/css/style.min.css">
</head>
